body {
  font: {
    family: "Times New Roman", Times, serif;
    size: 15px;
  }
}

.container {
  width: 496px;
  margin: 8px auto;
  padding: 1px 1px;
  border: 1px solid #dfdfdf;
}

h3 {
  font-size: 17px;
  margin-bottom: 22px;
}

li {
  list-style: none;
}

.fact_title {
  padding-left: 2px;
}

.about_title {
  position: relative;
  height: 20px;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: 12px;
  padding-left: 2px;
  background: linear-gradient(#dfdfdf, #fff);
  h3 {
    position: absolute;
    top: -27px;
  }
}

.about_info {
  display: flex;
  &_avt {
    margin-left: 14px;
  }
  &_content {
    width: 394px;
    height: 108px;
    overflow: scroll;
    ul {
      padding-left: 15px;
    }
  }
}

.fact_content {
  li:before {
    content: url("../images/icon.png");
    margin-right: 5px;
  }
  padding-left: 34px;
}

.post {
  margin-top: 50px;
  .post_item {
    position: relative;
    background-image: url("../images/img-bg.png");
    background-repeat: no-repeat;
    height: 51px;
    padding-top: 8px;
    .post_item_time {
      position: absolute;
      bottom: 0;
      margin-left: 51px;
      p {
        margin-bottom: 0px;
        font-size: 13px;
      }
    }
    .post_item_content {
      margin-left: 18px;
      p {
        margin: 0 0;
        line-height: (16 / 15);
      } 
    }
  }
  a {
    color: #1424f4;
    text-decoration: none;
  }
  a:visited {
    text-decoration: underline;
  }
}

.comment {
  margin-top: 30px;
  .form_title {
    text-align: center;
    h3 {
      margin-bottom: 0px;
    }
  }
}

.input_item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  & div {
    width: 100px;
    margin-left: 5px;
    margin-right: 6px;
  }
  & input {
    width: 140px;
  }
}

#subject {
  width: 373px;
  height: 79px;
  padding-left: 4px;
  resize: none;
}

textarea::-webkit-input-placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: #000;
}

input {
  height: 16px;
}



#input_textarea {
  margin-bottom: 6px;
}







      